<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <script src="{% static 'buttons.js' %}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div id="loader" class="loader"></div>
<div class="NavigationDiv">
    <ul>
        <li class="load">
            <form>
                <button type='submit'>Load Data</button>
            </form>
            <form class='load_hover' action='enron' method='GET'>
                <button type='submit'>Enron</button>
            </form>
            <form class='load_hover' action='reddit' method='GET'>
                <button type='submit'>Reddit</button>
            </form>
            <form class='load_hover' action='slashdot' method='GET'>
                <button type='submit'>Slashdot</button>
            </form>
        </li>

        <li>
            <form action='reload' method='GET'>
                <button type='submit'>Reload Data</button>
            </form>
        </li>

        <li class="algorithms">
            <form onsubmit="return false;" method='GET'>
                <button type='submit'>Graph Algorithms</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('node_count');" method='GET'>
                <button type='submit'>Node Count</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('edge_count');" method='GET'>
                <button type='submit'>Edge Count</button>
            </form>
            <form class='algorithms_hover' onsubmit="return showinputs('spl',2,'source','sink');" method='GET'>
                <button type='submit'>Shortest Path Length</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('minimum_average_path');" method='GET'>
                <button type='submit'>Minimum Average Path</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('diameter');" method='GET'>
                <button type='submit'>Diameter</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('mode_path_length');" method='GET'>
                <button type='submit'>Mode Path Length</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('average_edges_per_node');" method='GET'>
                <button type='submit'>Average Edges per Node</button>
            </form>
            <form class='algorithms_hover' onsubmit="return showinputs('dfs',1,'source');" method='GET'>
                <button type='submit'>Depth First Search</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('discover_components');" method='GET'>
                <button type='submit'>Discover Components</button>
            </form>
            <form class='algorithms_hover' onsubmit="return showinputs('ek',2,'source','sink');" method='GET'>
                <button type='submit'>Edmonds Karp</button>
            </form>
            <form class='algorithms_hover' onsubmit="return showinputs('lcc',1,'node');" method='GET'>
                <button type='submit'>Local Clustering Coefficient</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('acc');" method='GET'>
                <button type='submit'>Average Clusting Coefficient</button>
            </form>
            <form class='algorithms_hover' onsubmit="return showinputs('mcmf',2,'source','sink');" method='GET'>
                <button type='submit'>Min Cut Max Flow</button>
            </form>
            <form class='algorithms_hover' onsubmit="return callmymethod('scc');" method='GET'>
                <button type='submit'>Strongly Connected Components</button>
            </form>

        </li>

        <li class="actions">
            <form action='actions' method='GET'>
                <button type='submit'>Graph Actions</button>
            </form>
            <form class="actions_hover" action='actions' method='GET'>
                <button type='submit'>Blah</button>
            </form>
        </li>
        <li>
        <li class="input">
                <input id="input1" type="text" name="input1"><br>
                <input id="input2" type="text" name="input2"><br>
        </li>

                <li class="submit_input">
            <form class='submit_input_class' onsubmit="return callmymethodwithinput();" method='GET'>
                <button id="submit_button" type='submit' data-algtype="None">Submit Input</button>
            </form></li>

    </ul>
</div>

<div id="chart">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script>
        var chartDiv = document.getElementById("chart");
        var width = chartDiv.clientWidth;
        var height = chartDiv.clientHeight;
        var radius = 3;

        var svg = d3.select(chartDiv).append("svg");
        svg
            .attr("width", width)
            .attr("height", height);


        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function (d) {
                return d.id;
            }))
            .force("charge", d3.forceManyBody().strength(-30))
            .force("center", d3.forceCenter(width / 2, height / 2));

        d3.json("load_graph.json", function (error, graph) {
            if (error) throw error;

            var link = svg.append("g")
                .attr("class", "links")
                .selectAll("line")
                .data(graph.links)
                .enter().append("line")
                .attr("stroke-width", function (d) {
                    return Math.sqrt(d.value);
                });

            var node = svg.append("g")
                .attr("class", "nodes")
                .selectAll("circle")
                .data(graph.nodes)
                .enter().append("circle")
                .attr("r", 3)
                .attr("fill", function (d) {
                    return color(d.group);
                })
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended));

            var labels = node.append("text")
                .text(function (d) {
                    return d.id;
                })
                .attr('x', 6)
                .attr('y', 3);

            node.append("title")
                .text(function (d) {
                    return d.id;
                });

            node.on("click",function(){
              fill_inputs(d3.select(this).select('text').text());
            });

            simulation
                .nodes(graph.nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(graph.links);

            function ticked() {
                link
                    .attr("x1", function (d) {
                        return d.source.x;
                    })
                    .attr("y1", function (d) {
                        return d.source.y;
                    })
                    .attr("x2", function (d) {
                        return d.target.x;
                    })
                    .attr("y2", function (d) {
                        return d.target.y;
                    });

                node.attr("cx", function (d) {
                    return d.x = Math.max(radius, Math.min(width - radius, d.x));
                })
                    .attr("cy", function (d) {
                        return d.y = Math.max(radius, Math.min(height - radius, d.y));
                    });
                /*node
                    .attr("cx", function (d) {
                        return d.x;
                    })
                    .attr("cy", function (d) {
                        return d.y;
                    });*/

            }
        });

        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart();
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }

        function dragended(d) {
            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = null;
            d.fy = null;
        }


    </script>
</div>
</body>
</html>